* {
	padding: 0;
	box-sizing: content-box;
}

@media (min-width: 80em) {
	html {
	  font-size: 125%;
	}
}

@media (min-width: 120em) {
	html {
	  font-size: 200%;
	}
}

body {
	font-family: system-ui, sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

main {
	margin: 0 auto;
	max-inline-size: 66ch;

}


div.single-space p {
	margin: 0;
}

li {
	margin-left: 1rem;
}

.day {
	margin-left: 1rem;
}

.week-head, .day-head {
	font-weight: 600;
}

.week-head {
	color: #fff;
	background-color: #008B8B;
	padding: .5rem;
}


.cw {
	background-color: palegoldenrod;
}